*.log
*.pyc
local_settings.py
/static/
VIRTUALENV
/env/
*.iml
*~

.settings
.project
.pydevproject
.idea
*dbfile
db.sqlite3
*.orig
.sass-cache
*.DS_Store
*.jshintrc
portal/tests/chromedriver
*.egg-info